<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tamish Real Estate</title>
    <link rel="icon" type="image/x-icon" href="images/favicon_package_v0.16/favicon-32x32.png">
    <link rel="stylesheet" href="styles/general2.css">
    <link rel="stylesheet" href="styles/carousel.css">
    <link rel="stylesheet" href="styles/home2.css">
    <script src="https://kit.fontawesome.com/9ecfa21df9.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
</head>
<body>
<header id="sticky-header">
    <a href="/" class="bold" id="home-link">TAMISH</a>
    <nav id="header-nav">
        <a href="/search">Property Search</a>
        <a href="/" class="bold">TAMISH</a>
        <a href="#contact-section">Contact Us</a>
    </nav>
    <button id="hamburger" style="border: none; background-color: transparent;">
        <i class="fa-solid fa-bars fa-xl" style="color: #000000;"></i>
    </button>
</header>
<div id="overlay">
    <nav>
        <a href="/static" class="underline">Home</a>
        <a href="/search">Property Search</a>
        <a href="../contact.html">Contact Us</a>
    </nav>
</div>
<hr>
<main>
    <section id="search-section">
        <img src="images/skyline.jpg" id="skyline-img">
        <div id="search-container">
            <header><h1>Find Your Perfect Place</h1></header>
            <input type="text" name="query" placeholder="City, Area, Region or Postal Code" id="search-input" autocomplete="off" hx-get="/search" hx-target="html" hx-swap="outerHTML" hx-push-url="true" hx-trigger="keyup[key=='Enter']">
        </div>
    </section>
    <section id="featured-properties-section" hx-get="/featured" hx-target="this" hx-trigger="load" hx-swap="innerHTML">
    </section>
   <section id="why-work-with-us-section">
    <header><h1>Why Work With Us</h1></header>
    <div id="why-work-list">
        <p>Hands-on customized property searches</p>
        <p>Off-market and exclusive properties</p>
        <p>Skilled negotiation to maximize your investment</p>
        <p>Targeted marketing stategies that get results</p>
        <p>Expertise in selling homes for top dollar</p>
        <p>In-depth knowledge of Toronto's neighbourhoods and market trends</p>
        <p>Dedicated support to make your experience seamless and stress-free</p>
    </div>
   </section>
   <section id="consultation-section">
    <header><h1>Book a consultation</h1></header>
    <div id="consultation-div">
        <img src="https://media-public.canva.com/7lcIY/MAGFb_7lcIY/1/s.png">
        <div id="consultation-div-div">
            <p>Whether you're buying, selling, or exploring your options, this no-pressure consultation is all about understanding your goals and figuring out how we can help.</p>
            <a>Contact Us</a>
        </div>
    </div>
   </section>
   <section id="deal-section">
    <header><h1>Deal of the Week</h1><h3>Your Weekly Toronto Real Estate Deal - Straight to Your Inbox!</h3></header>
    <div>
        <div>
            <label>Your Name</label>
            <input>
        </div>
        <div>
            <label>Email Address</label>
            <input>
        </div>
    </div>
    <p>Sign up to receive one handpicked Toronto real estate deal every week. Simple, straightforward, and delivered to your inbox.</p>
   </section>
    <section id="client-review-section">
        <header>
            <h1 class="bold">Client Reviews</h1>
        </header>
        <div class="carousel">
            <div class="button-div">
                <button class="carousel-btn carousel-left-btn">&#8592</button>
                <button class="carousel-btn carousel-right-btn">&#8594</button>
            </div>
            <div class="carousel-elements-wrapper">
                <div class="review-container carousel-element">
                    <p class="review-text bold">"Tamish was the best! Out of all the realtors I've worked with, he was genuinely trying to help and do his best to find my perfect place. He's also very knowledgable and does his due diligence. I'd highly recommend working with him, I know I will."</p>
                    <span class="review-author light">Youssof</span>
                </div>
                <div class="review-container carousel-element">
                    <p class="review-text bold">"Tamish was extremely helpful in navigating all my requests with finding a new home. He was super knowledgeable, patient, responsive and available at all hours of the day. Highly recommend working with him to find the right place that suits your needs."</p>
                    <span class="review-author light">Sam</span>
                </div>
                <div class="review-container carousel-element">
                    <p class="review-text bold">"Awesome experience working with Tamish to get me a new home in GTA that seemed like a big deal but tamish made it really easy and ready to go for a deal . He got me my home similar to what I was looking for just in 3 days . I highly recommend Tamish as an excellent , intelligent, cheerful, impactful and very supportive realtor."</p>
                    <span class="review-author light">Ruby</span>
                </div>
                <div class="review-container carousel-element">
                    <p class="review-text bold">"10/10 service, Tamish was super patient with us and provided us with fast responses. Overall working with him was a great experience, would highly recommend considering Tamish to find you your next home! :)"</p>
                    <span class="review-author light">Mari</span>
                </div>
                <div class="review-container carousel-element">
                    <p class="review-text bold">"***highly recommended agent*** Tamish helped me get my first apartment in Toronto recently and it has been a wonderful experience working with him. He is a patient, impactful, efficient agent who got me the apartment of my choice in just ONE WEEK! Rest assured that he will answer your queries, attend to you and get you your apartment of choice."</p>
                    <span class="review-author light">Jash</span>
                </div>
                <div class="review-container carousel-element">
                    <p class="review-text bold">"Tamish provided a seamless process when looking for my new home that took everything I wanted into consideration. He listened to all of my needs/wants and made sure I understood what was happening at every step of the process."</p>
                    <span class="review-author light">Emily</span>
                </div>
                <div class="review-container carousel-element">
                    <p class="review-text bold">"Tamish did a great job at helping me and my friends secure an apartment, and was always available for any concerns and questions!"</p>
                    <span class="review-author light">Yash</span>
                </div>
                <div class="review-container carousel-element">
                    <p class="review-text bold">"Had been looking for a place for over a month, and Tamish never hesitated to show me any place that I liked and always provided valid suggestions. Finally we were able to secure a good place."</p>
                    <span class="review-author light">Harivansh</span>
                </div>
                <div class="review-container carousel-element">
                    <p class="review-text bold">"Tamish is extremely helpful and provides great service. Highly recommend! :)"</p>
                    <span class="review-author light">Nikhita</span>
                </div>
            </div>
        </div>
    </section>
    <section id="contact-section">
        <header>
            <h1>Do you have questions?</h1>
            <h1>Contact us.</h1>
        </header>
        <div>
            <img>
            <div>
                <div>
                    <p>Tamish Multani</p>
                    <p>Real Estate Agent</p>
                </div>
                <div>
                    <p>Phone</p>
                    <p>(647) 354-8420</p>
                </div>
                <div>
                    <p>Email</p>
                    <p>tamish@psrbrokerage.com</p>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="scripts/hamburger.js"></script>
<script src="scripts/search.js"></script>
<script src="scripts/carousel.js"></script>
</body>
</html>