<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tamish Real Estate</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon_package_v0.16/favicon-32x32.png">
    <link rel="stylesheet" href="/styles/general2.css">
    <link rel="stylesheet" href="/styles/carousel.css">
    <link rel="stylesheet" href="/styles/home2.css">
    <script src="https://kit.fontawesome.com/9ecfa21df9.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
</head>
<body>
<header id="sticky-header">
    <a href="/" class="bold" id="home-link">TAMISH</a>
    <nav id="header-nav">
        <a href="/search">Property Search</a>
        <a href="/" class="bold">TAMISH</a>
        <a href="#contact">Contact Us</a>
    </nav>
    <button id="hamburger" style="border: none; background-color: transparent;">
        <i class="fa-solid fa-bars fa-xl" style="color: #000000;"></i>
    </button>
</header>
<div id="overlay">
    <nav>
        <a href="/" class="underline">Home</a>
        <a href="/search">Property Search</a>
        <a href="#contact">Contact Us</a>
    </nav>
</div>
<hr>
<main>
    <h1 style="text-align: center">
        Something went wrong!
    </h1>
</main>
<script src="/scripts/hamburger.js"></script>
</body>
</html>